body {
	font-family: 'verdana', sans-serif;
	background-color: darkgray;
  margin:auto;
}

table {
    margin:auto;
		border: 0px;
}
#trial {
  width: 100%;
  background-image:url("https://images.complex.com/complex/images/c_fill,dpr_auto,f_auto,q_90,w_1400/fl_lossy,pg_1/gbwm0p98mcxcxfhexejj/travis-scott");
  text-align: center;
  padding-top: 160px;
  padding-bottom: 130px;
}
#joon {
	width: 20%;
}
#review {
	width: 85%;
	background-image:url("https://i.ytimg.com/vi/-FyIzXUkN00/maxresdefault.jpg");
	text-align: center;
	padding-top: 70px;
	padding-bottom: 60px;
	margin:auto;
}
#video {
	margin-left: 700px;
	margin-bottom: -50px;
	padding-bottom: 40px;
	size: 1400px;
}
h4 {
	margin-right: 1000px;
	font-size: 36px;
	margin-left: auto;
}
#description {
	background-color: white;
	padding-top: 70px;
	padding-bottom: 60px;
	width: 90%;
	margin:auto;
}
#joon {
	width: 20%;
}
.button {
    background-color: #F2563A; 
    border: none;
    color: white;
    padding: 15px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    font-family:'Cabin', sans-serif;


